$table-color: $text-strong !default;
$table-background-color: $scheme-main !default;

$table-cell-border: 1px solid $border !default;
$table-cell-border-width: 0 0 1px !default;
$table-cell-padding: 0.5em 0.75em !default;
$table-cell-heading-color: $text-strong !default;

$table-head-cell-border-width: 0 0 2px !default;
$table-head-cell-color: $text-strong !default;
$table-foot-cell-border-width: 2px 0 0 !default;
$table-foot-cell-color: $text-strong !default;

$table-head-background-color: transparent !default;
$table-body-background-color: transparent !default;
$table-foot-background-color: transparent !default;

$table-row-hover-background-color: $scheme-main-bis !default;

$table-row-active-background-color: $primary !default;
$table-row-active-color: $primary-invert !default;

$table-striped-row-even-background-color: $scheme-main-bis !default;
$table-striped-row-even-hover-background-color: $scheme-main-ter !default;

body {
    font-size: 1em;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 1px;
}

.button {
    transition: all 200ms ease;
    text-transform: uppercase;
    font-weight: 700;

    &.is-active,
    &.is-focused,
    &:active,
    &:focus {
        box-shadow: 0 0 0 2px rgba($button-focus-border-color, 0.25);
    }

    @each $name,
    $pair in $colors {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);

        &.is-#{$name} {

            &.is-active,
            &.is-focused,
            &:active,
            &:focus {
                border-color: $color;
                box-shadow: 0 0 0 2px rgba($color, 0.25);
            }
        }
    }
}

.button,
.input,
.pagination-ellipsis,
.pagination-link,
.pagination-next,
.pagination-previous,
.select,
.select select,
.textarea,
.control.has-icons-left .icon,
.control.has-icons-right .icon {
    height: 2.5em;
}

.input,
.textarea {
    transition: all 200ms ease;
    box-shadow: none;
}

.progress,
.tag {
    border-radius: $radius;
}

.card {
    box-shadow: 0 0 0 1px $grey-lighter;

    .card-header {
        box-shadow: 0 1px 0 0 $grey-lighter;
    }
}

.navbar {

    border-bottom: 5px $royal solid;

    .navbar-link,
    .navbar-item {
        text-transform: uppercase;
        font-weight: bold;
    }

    .has-dropdown .navbar-item {
        text-transform: none;
    }

    strong {
        color: $white;
    }

    @include touch {
        .navbar-menu {
            background-color: $primary;
            border-radius: $radius;
        }
    }
}

.hero {
    .navbar {
        background-color: $navbar-background-color;
    }

    @each $name,
    $pair in $colors {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);

        &.is-#{$name} {
            .navbar {
                background-color: $color;
            }
        }
    }
}

.notification {

    @each $name,
    $pair in $colors {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);

        &.is-#{$name} {
            a:not(.button) {
                color: $color-invert;
                text-decoration: underline;
            }
        }
    }
}

section {
    padding-bottom: 0px;
    height: 100%;
}

body,
html,
.footer {
    background-color: $white-ter;
}

#mainContent {
    box-shadow: $box-shadow;
    background-color: #fefefe;
    padding: 1em;
    border-radius: $radius-large;
    position: relative;
    opacity: 0.99;

    @include until($desktop) {
        margin-top: calc(100% / 18);
    }

    @include from($desktop) {
        margin-top: 7rem;
    }
}

.sticky {
    position: fixed;
    top: calc(#{$navbar-height} + 3rem);
}

.menu-list li ul {
    border-left: none;
}

*[id]::before {
    display: block;
    content: " ";
    margin-top: -80px;
    height: 80px;
    visibility: hidden;
}

a.toc-is-active {
    background-color: $royal !important;
    color: white;

    &:hover {
        background-color: $royal !important;
        color: white !important;
    }
}

.message-header,
.panel-heading {
    font-weight: $weight-bold;
}

.box.category {
    margin: -1em 0em;
    margin-top: 3em;
}

article.message,

code {
    background-color: $white-ter;
    font-family: $family-code;
    color: $royal;
    border-radius: $radius-large;
}

pre {
    white-space: pre-wrap;
    tab-size: 4;
    border-radius: $radius-large;
    font-family: $family-code;
    margin: 0;
    z-index: 1;
    
    &.data-path {
        padding-top: 2.5em !important;
        
        &:before {
            display: block;
            width: calc(100% + 3em);
            margin: -2.5em -1.5em 1.25em -1.5em !important;
            padding: .33em 1.5em;
            text-align: center;
            color: $white-on;
            content: attr(data-file-path);
            background: $spacePurp !important;
        }
    }

    &.cli {
        background-color: #292B2E;

        code {
            ul.cli {
                margin-left: 2em;
                margin-top: -.15em;
                list-style: none;
                color: #BC6EC5;
            
                li:before {
                    content: '$';
                    color: #2D9574;
                    font-weight: bold;
                    margin-left: -1em;
                    margin-right: 1em;
                }
            }
        }
    }
}

input.input {
    color: $gPurp;
    background-color: $white-ter;
}

div.control a.button {
    border-top-right-radius: $radius-large;
    border-bottom-right-radius: 0;
}


.field.has-addons {
    margin-top: -.9em;
    margin-right: -1em;
    float: right;
}

button.button {
    margin-top: -.9em;
    margin-left: -1em;
    align-content: left;
    justify-content: left;
    border-radius: $radius-large 0 0 0;
}

table {
    @extend %block;
    background-color: $table-background-color;
    color: $table-color;
    width: 100%;

    td,
    th {
        border: $table-cell-border;
        border-width: $table-cell-border-width;
        padding: 0.25em 0.5em;
        vertical-align: top;
        white-space: nowrap;
        width: 1%;
        text-align: center !important;
    }

    th {
        color: $table-cell-heading-color;
    }

    thead {
        background-color: $table-head-background-color;
        border-radius: $radius-large !important;
        cursor: pointer;

        td,
        th {
            border-width: $table-head-cell-border-width;
            color: $table-head-cell-color;
            padding: 1em !important;
        }
    }

    tbody {
        background-color: $table-body-background-color;

        tr {
            &:hover {
                background-color: $table-row-hover-background-color;
            }
            
            strong {
                color: $white-ish;
            }

            code {
                background-color: $white-ish;
            }
            
            td {
                white-space: unset !important;
                overflow-wrap: unset !important;
            }

            &:last-child {
                td,
                th {
                    border-bottom-width: 0;
                }
            }
        }
    }
}

.table-container {
    @extend %block;

    @include overflow-touch;

    overflow: auto;
    overflow-y: hidden;
    max-width: 100%;
    border-radius: $radius-large;
}

.copy-code-button {
    color: $spacePurp;
    background-color: $white-on;
    border-radius: $radius-large;
    border: solid 2px $spacePurp;
    font-size: .875em;
    justify-content: center;
    float: right;
    margin-left: -9em;
    margin-top: 0px;
    padding: .33em 1.5em;
    z-index: 2;

    &:hover {
        cursor: pointer;
        background-color: lighten($color: $spacePurp, $amount: 25);
        color: $white-on;
    }

    &:focus {
        /* Avoid an ugly focus outline on click in Chrome,
        but darken the button for accessibility.
        See https://stackoverflow.com/a/25298082/1481479 */
        background-color: lighten($color: $spacePurp, $amount: 25);
        color: $white-on;
        outline: 0;
    }
    
    *:active {
        background-color: lighten($color: $spacePurp, $amount: 25);
        color: $white-on;
    }
}
