{% macro month(month) %}
    {% if month == 1 %}
        {% set m = "January" %}
    {% elif month == 2 %}
        {% set m = "February" %}
    {% elif month == 3 %}
        {% set m = "March" %}
    {% elif month == 4 %}
        {% set m = "April" %}
    {% elif month == 5 %}
        {% set m = "May" %}
    {% elif month == 6 %}
        {% set m = "June" %}
    {% elif month == 7 %}
        {% set m = "July" %}
    {% elif month == 8 %}
        {% set m = "August" %}
    {% elif month == 9 %}
        {% set m = "September" %}
    {% elif month == 10 %}
        {% set m = "October" %}
    {% elif month == 11 %}
        {% set m = "November" %}
    {% elif month == 12 %}
        {% set m = "December" %}
    {% else %}
        {% set m = month %}
    {% endif %}
    {{m}}
{% endmacro month %}

{% macro day(day) %}
    {% if day | date(format="%d")  == 1 %}
        1st
    {% elif day | date(format="%d") == 2 %}
        2nd
    {% elif day | date(format="%d") == 3 %}
        3rd
    {% elif day | date(format="%d") == 21 %}
        21st
    {% elif day | date(format="%d") == 22 %}
        22nd
    {% elif day | date(format="%d") == 23 %}
        23rd
    {% elif day | date(format="%d") == 31 %}
        31st 
    {% else %}
        {{day}}th
    {% endif %}
{% endmacro month %}
