{% extends "base.html" %}

{% import "date_macros.html" as fmt_date %}
{% import "pagination_macros.html" as fmt_page %}

{% block title %}
<title>
    {{ term.name }} | {{ config.title }}
</title>
{% endblock title %}

{% block content %}
    {% for page in paginator.pages %}
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p class="title is-4">
                        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
                    </p>
                    <p class="subtitle is-size-6 has-text-grey-light">
                        Published on {{fmt_date::month(month=page.month)}}{% if page.day %}{{fmt_date::day(day=page.day) | trim}}{% endif %}, {{ page.year }} &middot;
                        <svg class="i-clock"viewBox="0 0 32 32"width="16"height="16"fill="none"stroke="currentcolor"stroke-linecap="round"stroke-linejoin="round" stroke-width="6.25%"><circle cx="16" cy="16" r="14"/><path d="M16 8 L16 16 20 20"/>
                            <span>&nbsp;{{ page.reading_time }} minute read</span></p>
                    <p>{{page.description | markdown(inline=true) | safe }}</p>
                </div>
            </div>
        </article>
    {% endfor %}
    <nav class="pagination is-centered is-rounded" role="navigation" aria-label="pagination">
    {{fmt_page::prev_btn(paginator=paginator)}}
    {{fmt_page::next_btn(paginator=paginator)}}
    <ul class="pagination-list">
        {{fmt_page::start(paginator=paginator)}}
        {{fmt_page::prev(paginator=paginator)}}
        <li><a class="pagination-link is-current" aria-label="Page {{paginator.current_index}}" aria-current="page">{{paginator.current_index}}</a></li>
        {{fmt_page::next(paginator=paginator)}}
        {{fmt_page::end(paginator=paginator)}}
    </ul>
</nav>
{% endblock content %}

{% block top_content %}
    <b class="title is-1" style="color:#121212;">{{term.name | title}}</b>
{% endblock top_content %}
