{% extends "base.html" %}

{% block title %}
<title>
    Categories | {{ config.title }}
</title>
{% endblock title %}

{% block content %}
<h3 class="title is-1" style="text-align:center;">Categories</h3>
    {% if terms %}
        {% for term in terms %}
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p class="title is-4">
                            <a href="{{ term.permalink | safe }}">{{ term.name }}</a>
                            <sub>({{ term.pages | length }})</sub>
                        </p>
                    </div>
                </div>
            </article>
        {% endfor %}
    {% endif %}
{% endblock content %}

